
* {
    max-width: 1120px;
    
}

body {
    display: flex;
}

/* Header */

.header {
    display: flex;
    border-bottom: solid 1px black;
    size: 100%;
}

.header img {
    max-width: 100%;
}

.header .d1 {
    max-width: 22%;
}


.header div .d2 {
    display: flex;
    justify-content: flex-end;
}

.header div .d2 p {
    background-color: rgb(11, 72, 146);
    font-size: 2em;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    min-width: 50%;
}

.header {
    max-width: 100%;
}

.header .d12 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header .d3 {
    display: flex;
}

.header div.d3 h2 {
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.header .d3 p {
    font-size: 12px;
    font-style: italic;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin: 0 0 10px 0;
}

.header .d3 img {
    display: flex;
    max-width: 380px;
    margin: 0 0 10px 0;
}

.header .d1 p {
    background-color: rgb(11, 72, 146);
    font-size: 2em;
    color: white;
    padding: 6px;
    text-align: center;
    margin: 0 0 5px 0;
}
/* colone tri selectif a gauche */

.tri {
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 190px;
}

.tri #triselec {
    transform: rotate(180deg);
}

.tri p {
    margin: 0;
    font-size: 0.7em;
}

/* Bandeau du milieu */

.bandeau {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    size: 100%;
}


/* Sidebarre */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebarre {
    min-width: 20%;
}

.sidebarre div, .sidebarre img {
    max-width: 100%;
}

.sidebarre .article2, .article3 {
    border-bottom: solid 1px black;
}

.a4, .a2 {
    display: flex;
    flex-direction: row;
}

.sidebarre div .a4 {
    padding-top: 20px;
}

.sidebarre div h3 {
    font-size: 1.2em;
    font-weight: 500;
}

.article2 .cote2, .article4 .cote4 {
    display: flex;
}

.article2 p, .article4 p {
    font-size: 12px;
    font-style: italic;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin: 0;
}



/*@media (max-width: 380px) {
    body{
        background-color: lightgreen;
    }
}*/




/* Main */

.main {
    display: flex;
    border-bottom: solid 1px black;
    max-height: 100%;
}



/* Article principal */

.article1 {
    display: flex;
    position: relative;
    max-width: 100%;
    min-height: 100%;
    flex-direction: column-reverse;
}

.article1 img {
    padding-bottom: 10px;
    padding-left: 20px;
}

.article1 .main-image {
    display: flex;
}

.article1 .main-image p {
    font-size: 12px;
    font-style: italic;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin: 0;
    padding-top: 10px;
}

.texta1 {
    display: flex;
    position: absolute;
    max-width: 100%;
    color: white;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 20px;
}

.article1 h1 {
    max-width: 50%;
    font-size: 4em;
    margin: 0 0 0 10px;
}

.article1 h2 {
    max-width: 75%;
    font-size: 1.5em;
    margin: 0 0 10px 10px;
}



/* Footer */

.footer {
    display: flex;
    align-items: center;
}

.footer .festival {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer div p {
    display: flex;
    font-size: 16px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin: 0;
    padding-top: 10px;
}

.footer #codebarre {
    position: absolute;
    left: -3.5em;
    max-height: 5em;
    transform: rotate(90deg);
    margin-left: 2px;
}